*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
.container{
    
    width: 300px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.hide{
    opacity: 0;
}
#border{
    width: 300px;
    height: 250px;
    border: solid;
    opacity: 2px;
}
#bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 250px;
}
#demo-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 250px;
    opacity: 0.2;
}
#topline,#bottomline{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 213px;
    height: 3px;
    background-color: #88743f;
}

#topline{
    left: 10px;
}

#bottomline{
    
    bottom: 0;
    left: auto;
    right: 10px;
}
#Logo{
    position: absolute;
    left: 151px;
    top: 15px;
    width: 84px;
    height: auto;
}
#text1 {
    position: absolute;
    width: 285px;
    height: auto;
    
    top: 3spx;
    right: 6px;
    /*color: #88743f;
    text-align: right;
    font-size: 21px;
    letter-spacing: -2px;
    font-weight: 600; */
}
#text2{
    position: absolute;
    top: 78px;
    right: 12px;
    width: auto;
    height: auto;
    text-align: right;
    color: #ffffff;
    font-size: 14px;
}
#text3{
    position: absolute;
    top: 111px;
    right: 16px;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 15px;
}
#cta{
    position: absolute;
    top: 161px;
    right: 36px;
    color: #ffffff;
    background-color: #88743f;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    padding-left: 17px;
    padding-right: 17px;
}
#url{
    
    position: absolute;
    top: 225px;
    right: 26px;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: -0.5px;

    
}